# Ignore node_modules and build folders in all subdirectories
**/node_modules/
**/build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime
.pnpm-debug.log
.DS_Store

# Environment files
.env
.env.*.local

# VSCode settings
.vscode/

# Output of TypeScript
*.tsbuildinfo

# OS files
Thumbs.db
